.titulor{
    padding: 20px;
    border: black solid;
    box-shadow: 2px 2px 3px black;
    border-radius: 18px;
}
.iconoRegistro{
    font-size: 40px;
}
.iconoActualizar{
    font-size: 40px;
}
.contenedorprincipal{
    padding: 20px;
    border: black solid;
    box-shadow: 2px 2px 3px black;
    border-radius: 18px;
}
.cliente{
    background-color: #BA001F;
    color: white;
    text-align: center;
    align-content: center;
    margin-left: 10px;
    border-radius: 18px;
}

.cuadrocliente{
    margin: 5px;
}
.motocicleta{
    background-color: #080B28;
    color: white;
    text-align: center;
    align-content: center;
    margin-right: 10px;
    border-radius: 18px;
 
}

.cuadromotocicleta{
    margin: 5px;
}

.servicio{
    background-color: black;
    color: white;
    text-align: center;
    align-content: center;
    margin-left: 1px;
    border-radius: 18px;
}
.btncliente{
    background-color:black;
}
.btncliente:hover{
    background-color: #080B28;
}

.btnmoto{
    background-color:#BA001F;
}
.btnmoto:hover{
    background-color: #080B28;
}
.btnregistro{
    background-color:#BA001F;
}
.btnregistro:hover{
    background-color: #080B28;
}

