.tituloe{
    padding: 20px;
    border: black solid;
    box-shadow: 2px 2px 3px black;
    border-radius: 18px;
}
.iconoEstado{
    font-size: 40px;
}
.contenedorp{
    padding: 20px;
    border: black solid;
    box-shadow: 2px 2px 3px black;
    border-radius: 18px;
}
.actual{
    background-color: #BA001F;
    color: white;
    text-align: center;
    align-content: center;
    margin-right: 10px;
    border-radius: 18px;
}
.estado{
    background-color: #080B28;
    color: white;
    text-align: center;
    padding: 30px;
    border-radius: 18px;
}
.cuadro{
    margin: 10px;
}
.actualizacion{
    background-color: black;
    color: white;
    text-align: center;
    align-content: center;
    margin-left: 10px;
    border-radius: 18px;
 
}
.fecha{
    background-color: #BA001F;
    color: white;
    text-align: center;
    padding: 30px;
    border-radius: 18px;
}
.cuadroactualización{
    margin: 10px;
}

.infoestado{
    font-size: 30px;
}
.infofecha{
    font-size: 25px;
}

.card-body{
    height: calc(100% - XXpx);
}
.card-body>img{
    width: 100%;
    height: calc(100% - 60px);/*<-- Yo puse 60px porque más o menos es lo que mide la altura del título, pero tú coloca un número de pixeles que se ajuste*/
    object-fit: contain;
}
.card-header{
    background-color:#D5D8DC;
}
